digraph {{pattern|labelescape}} {
  {{ attributes }}

{% for node in nodes|sort(attribute="name") %}
{% if node.leaf %}
  {{ node.name|labelescape }} [shape=record style=rounded label=<
<table border="0" cellborder="0">
  <tr><td><b>
  <font face="Times New Roman, Bold" point-size="16">{{ node.name}}</font>
  </b></td></tr>
{% if node.vars and showvars %}<hr/><tr><td><font face="Times New Roman, Bold" point-size="14">{% for var in node.vars|sort %}{% if var|is_visible %}{{var}} = {{node.vars[var]}}<br/>{% endif %}{%endfor %}</font></td></tr>{% endif %}
</table>
>]
{% else %}
  {{ node.name|labelescape }} [shape=record label=<
<table border="0" cellborder="0">
  <tr><td><b>
  <font face="Times New Roman, Bold" point-size="16">{{ node.name}}</font>
  </b></td></tr>
{% if node.vars and showvars %}<hr/><tr><td><font face="Times New Roman, Bold" point-size="14">{% for var in node.vars|sort %}{% if var|is_visible %}{{var}} = {{node.vars[var]}}<br/>{% endif %}{%endfor %}</font></td></tr>{% endif %}
</table>
>]
{% endif %}{% endfor %}

{% for edge in edges|sort(attribute='source') %}
  {{ edge.source|labelescape }} -> {{ edge.target|labelescape }};
{% endfor %}
}
