{% extends "base-site.html" %}

{% block title %} Executed {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">Pystol's executed actions</div>
                <div class="card-body">
                  <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable" id="pystol-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Action State</th>
                        <th>Workflow State</th>
                        <th>Output</th>
                      </tr>
                    </thead>
                    <tbody>
              {% for action in list_actions %}
                      <tr>
                        <td>{{ action.name }}</td>
                        <td>{{ action.creationTimestamp }}</td>
<td>
{% if action.action_state == 'PystolActionCreating' %}
<span class="badge badge-info">{{ action.action_state }} </span>
{% elif action.action_state == 'PystolActionRunning' %}
<span class="badge badge-warning">{{ action.action_state }} </span>
{% elif action.action_state == 'PystolActionEndedSuccessfully' %}
<span class="badge badge-success">{{ action.action_state }} </span>
{% elif action.action_state == 'PystolActionEndedFail' %}
<span class="badge badge-danger">{{ action.action_state }} </span>
{% elif action.action_state == 'PystolActionEndedFailTimeout' %}
<span class="badge badge-danger">{{ action.action_state }} </span>
{% else %}
<span class="badge badge-secondary">State not found, report! {{ action.action_state }}</span>
{% endif %}
</td>

<td>
{% if action.workflow_state == 'PystolOperatorWaitingAction' %}
<span class="badge badge-info">{{ action.workflow_state }} </span>
{% elif action.workflow_state == 'PystolOperatorStartProcessingAction' %}
<span class="badge badge-warning">{{ action.workflow_state }} </span>
{% elif action.workflow_state == 'PystolOperatorCreatingJob' %}
<span class="badge badge-warning">{{ action.workflow_state }} </span>
{% elif action.workflow_state == 'PystolOperatorExecutingAction' %}
<span class="badge badge-warning">{{ action.workflow_state }} </span>
{% elif action.workflow_state == 'PystolOperatorEnded' %}
<span class="badge badge-success">{{ action.workflow_state }} </span>
{% else %}
<span class="badge badge-secondary">State not found, report! {{ action.workflow_state }}</span>
{% endif %}
</td>
                        <td><span class="badge badge-secondary" data-toggle="modal" data-target="#{{ action.name | replace(".","-") }}">OPEN</span></td>

                      </tr>
              {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
        </div>
    </div>

{% for action in list_actions %}
        <!-- /.modal-->
    <div class="modal fade" id="{{ action.name | replace(".","-") }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">{{ action.name }}</h5>
            </div>
            <div class="modal-body">
            <h5>Output</h5>
            <pre>{{ action.stdout | string | safe }}</pre>
            <h5>Error</h5>
            <pre>{{ action.stderr | string | safe }}</pre>
            <h5>Job description</h5>
            <pre>{{ action.job_description | string | safe }}</pre>
            <h5>Pod logs</h5>
            <pre>{{ action.pod_logs | string | safe }}</pre>
            </div>
        </div>
        </div>
    </div>
{% endfor %}


{% endblock content %}






{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/JavaScript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/JavaScript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

    <script>
      $(document).ready(function() {
        $("#pystol-table").dataTable();
      });
    </script>
{% endblock javascripts %}
