---
# Copyright kubeinit contributors
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.


#
# Define additional groups we will use
#
- name: Add all controller nodes to the all_controller_nodes group
  ansible.builtin.add_host:
    name: "{{ item }}"
    guest_name: "{{ kubeinit_cluster_name }}-{{ item }}"
    group: all_controller_nodes
    fqdn: "{{ item }}.{{ kubeinit_cluster_fqdn }}"
    target: "{{ hostvars[item].target }}"
    os: "{{ hostvars[item].os }}"
  loop: "{{ groups['controller_nodes'][0:hostvars['kubeinit-facts'].controller_count|int] | default([]) | list }}"

- name: Add all compute nodes to the all_compute_nodes group
  ansible.builtin.add_host:
    name: "{{ item }}"
    guest_name: "{{ kubeinit_cluster_name }}-{{ item }}"
    group: all_compute_nodes
    fqdn: "{{ item }}.{{ kubeinit_cluster_fqdn }}"
    target: "{{ hostvars[item].target }}"
    os: "{{ hostvars[item].os }}"
  loop: "{{ groups['compute_nodes'][0:hostvars['kubeinit-facts'].compute_count|int] | default([]) | list }}"

- name: Add all controller and compute nodes to the all_cluster_nodes group
  ansible.builtin.add_host:
    name: "{{ item }}"
    group: all_cluster_nodes
    fqdn: "{{ hostvars[item].fqdn }}"
    target: "{{ hostvars[item].target }}"
    os: "{{ hostvars[item].os }}"
  loop: "{{ groups['all_controller_nodes'] + groups['all_compute_nodes'] | default([]) }}"

- name: Add any extra cluster vm guest nodes to the all_extra_nodes group
  ansible.builtin.add_host:
    name: "{{ item }}"
    guest_name: "{{ kubeinit_cluster_name }}-{{ item }}"
    group: all_extra_nodes
    fqdn: "{{ item }}.{{ kubeinit_cluster_fqdn }}"
    target: "{{ hostvars[item].target }}"
    os: "{{ hostvars[item].os }}"
    ram: "{{ hostvars[item].ram }}"
  loop: "{{ groups['extra_nodes'] | default([]) | list }}"
  when: kubeinit_cluster_distro in hostvars[item].distro

- name: Collect all cluster node hypervisors
  ansible.builtin.set_fact:
    all_cluster_hypervisors: "{{ all_cluster_hypervisors | default([]) | union([hostvars[item].target]) }}"
  loop: "{{ groups['all_cluster_nodes'] + (groups['all_extra_nodes'] | default([])) }}"

- name: Show the before and after values of the hypervisors fact
  ansible.builtin.debug: msg="{{ hostvars[kubeinit_cluster_facts_name].hypervisors }} ==> {{ all_cluster_hypervisors }}"

# TODO: check later to see if this would be a useful optimization
# - name: Set all cluster hypervisors fact
#   ansible.builtin.add_host:
#     name: "{{ kubeinit_cluster_facts_name }}"
#     hypervisors: "{{ all_cluster_hypervisors }}"

- name: Add all service nodes to the all_service_nodes group
  ansible.builtin.add_host:
    name: "{{ item }}"
    guest_name: "{{ kubeinit_cluster_name }}-{{ item }}"
    group: all_service_nodes
    fqdn: "{{ item }}.{{ kubeinit_cluster_fqdn }}"
    services: "{{ hostvars[item].services.split(',') }}"
    target: "{{ hostvars[item].target }}"
    os: "{{ hostvars[item].os }}"
    type: container
    container_host: "{{ hostvars[item].target }}"
  loop: "{{ groups['service_nodes'] | default([]) | list }}"

- name: Create tuples for each service and each service node providing that service
  ansible.builtin.set_fact:
    cluster_services: "{{ (cluster_services | default([])) + (item[0] | product([item[1]])) }}"
  loop: "{{ groups['all_service_nodes'] | map('extract', hostvars, 'services') | zip(groups['all_service_nodes']) }}"

- name: Combine those tuples into dict of services and nodes providing that service
  ansible.builtin.set_fact:
    cluster_services_dict: "{{ (cluster_services_dict | default({})) | combine({item[0]: cluster_services_dict[item[0]] | default([]) + [item[1]]}) }}"
  loop: "{{ cluster_services }}"

- name: Check for any services being provided on more than one service node
  ansible.builtin.fail:
    msg:
      "You are not currently permitted to run the same service on more than one service node."
  loop: "{{ cluster_services_dict | dict2items }}"
  when: item.value | length > 1

- name: Use first service node if there is no assigned provision service node
  ansible.builtin.set_fact:
    cluster_services_dict: "{{ cluster_services_dict | combine({'provision': [groups['all_service_nodes'][0]]}) }}"
  when: "'provision' not in cluster_services_dict"

- name: Flatten dictionary values into final form
  ansible.builtin.set_fact:
    all_cluster_services: "{{ (all_cluster_services | default({})) | combine({item.key: item.value[0]}) }}"
  loop: "{{ cluster_services_dict | dict2items | flatten }}"

- name: Check that the dns server address in the inventory matches the bind service node
  ansible.builtin.fail:
    msg:
      "The kubeinit_cluster_nameserver and bind service node addresses do not match."
  when: "'bind' in all_cluster_services and kubeinit_cluster_nameserver != hostvars[all_cluster_services['bind']].ansible_host"

- name: Set all services cluster fact
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_facts_name }}"
    services: "{{ all_cluster_services }}"

- name: Add all service and cluster nodes to the all_nodes group
  ansible.builtin.add_host:
    name: "{{ item }}"
    group: all_nodes
    fqdn: "{{ hostvars[item].fqdn }}"
    os: "{{ hostvars[item].os }}"
  loop: "{{ groups['all_service_nodes'] + groups['all_cluster_nodes'] + (groups['all_extra_nodes'] | default([])) }}"

- name: Add a default entry for the first hypervisor if there are no bastion_host members
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_bastion_name }}"
    group: bastion_host
    target: "{{ groups['hypervisor_hosts'][0] }}"
  when: "('bastion_host' not in groups) or ((groups['bastion_host'] | list | length) == 0)"

- name: Add ansible_host for bastion_host if not defined
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_bastion_name }}"
    group: bastion_host
    ansible_host: "{{ hostvars[hostvars[kubeinit_cluster_bastion_name].target].ansible_host }}"
  when: "hostvars[kubeinit_cluster_bastion_name].ansible_host is not defined"

- name: Add target for bastion_host if not defined
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_bastion_name }}"
    group: bastion_host
    target: "{{ kubeinit_cluster_bastion_name }}"
  when: "hostvars[kubeinit_cluster_bastion_name].target is not defined"

- name: Add a default entry for the first hypervisor if there are no ovn_central_host members
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_ovn_central_name }}"
    group: ovn_central_host
    target: "{{ groups['hypervisor_hosts'][0] }}"
    ansible_host: "{{ hostvars[groups['hypervisor_hosts'][0]].ansible_host }}"
  when: "('ovn_central_host' not in groups) or ((groups['ovn_central_host'] | list | length) == 0)"

- name: Add ansible_host for ovn_central_host
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_ovn_central_name }}"
    group: ovn_central_host
    ansible_host: "{{ hostvars[hostvars[kubeinit_cluster_ovn_central_name].target].ansible_host }}"

- name: Add all cluster hypervisors to the all_hosts group
  ansible.builtin.add_host:
    name: "{{ item }}"
    group: all_hosts
  loop: "{{ groups['hypervisor_hosts'] }}"
  when: >
    item in hostvars[kubeinit_cluster_ovn_central_name].target or
    item in hostvars[kubeinit_cluster_facts_name].hypervisors

- name: Add all hosts to the all_ovn_hosts group
  ansible.builtin.add_host:
    name: "{{ item }}"
    group: all_ovn_hosts
  loop: "{{ groups['all_hosts'] }}"

- name: Collect all of the hypervisor running vms into hv/vm tuples
  ansible.builtin.set_fact:
    all_cluster_vms: "{{ (all_cluster_vms | default([])) + ([item[0]] | product(item[1]) | list) }}"
  loop: "{{ groups['all_hosts'] | zip(groups['all_hosts'] | map('extract', hostvars, 'libvirt_vms')) }}"

- name: Set all running vms cluster fact
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_facts_name }}"
    running_vms: "{{ all_cluster_vms }}"

- name: Collect all of the localhost and hypervisor public keys into authorized_keys list
  ansible.builtin.set_fact:
    all_public_keys: "{{ (all_public_keys | default([])) | union([public_key]) }}"
  loop: "{{ ['localhost'] | union(groups['all_hosts']) }}"
  vars:
    public_key: "{{ hostvars[item].public_key }}"

- name: Set all hypervisor public keys cluster fact
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_facts_name }}"
    authorized_keys: "{{ all_public_keys }}"

- name: Add services guest and cluster nodes to the all_guest_vms group
  ansible.builtin.add_host:
    name: "{{ item }}"
    group: all_guest_vms
  loop: "{{ groups['all_cluster_nodes'] + (groups['all_extra_nodes'] | default([])) }}"
  when: hostvars[item].type == 'virtual'

- name: Collect all of the node aliases
  ansible.builtin.set_fact:
    all_node_aliases: "{{ (all_node_aliases | default([])) + ([item[0]] | product(item) | list) }}"
  loop: "{{ groups['all_nodes'] | zip(groups['all_nodes'] | map('extract', hostvars, 'fqdn'), groups['all_nodes'] | map('extract', hostvars, 'ansible_host')) }}"

- name: Set all node aliases cluster fact
  ansible.builtin.add_host:
    name: "{{ kubeinit_cluster_facts_name }}"
    node_aliases: "{{ all_node_aliases }}"
