{% extends "base-site.html" %}

{% block title %} Run {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">
          <!-- /.row-->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">Run a Pystol action</div>
                <div class="card-body">
                    <form class="form-horizontal" action="{{ url_for('run_blueprint.run') }}"  method="POST" enctype="multipart/form-data">

           {{ form.hidden_tag() }}

<div class="form-group row">
  <label class="col-md-2 col-form-label" for="text-input">Namespace</label>
  <div class="col-md-10">
    {{ form.namespace(placeholder="Namespace", class="form-control") }}
    <span class="help-block">(Mandatory) The collection namespace. For example: 'pystol'</span>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-2 col-form-label" for="text-input">Collection</label>
  <div class="col-md-10">
    {{ form.collection(placeholder="Collection", class="form-control") }}
    <span class="help-block">(Mandatory) The collection name. For example: 'actions'</span>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-2 col-form-label" for="text-input">Role</label>
  <div class="col-md-10">
    {{ form.role(placeholder="Role", class="form-control") }}
    <span class="help-block">(Mandatory) The role name for the action. For example: 'pingtest'</span>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-2 col-form-label" for="text-input">Source</label>
  <div class="col-md-10">
    {{ form.source(placeholder="Source", class="form-control") }}
    <span class="help-block">(Optional) The source of the collection. For example: 'https://github.com/kubeinit/kubeinit-galaxy.git'</span>
  </div>
</div>

<div class="form-group row">
  <label class="col-md-2 col-form-label" for="textarea-input">Extra variables</label>
  <div class="col-md-10">
    {{ form.extra_vars(placeholder="Extra variables", class="form-control") }}
    <span class="help-block">(Optional) Extra variables for the action. For example: '{"pystol_variable_1":"true","pystol_variable_2":"false"}'</span>
  </div>
</div>

        {% for field, errors in form.errors.items() %}
            <div class="alert alert-danger" role="alert">{{ form[field].label }}: {{ ', '.join(errors) }}</div>
        {% endfor %}


<div class="form-actions">
  <button class="btn btn-sm btn-info" type="submit"> Submit</button>
  <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
</div>

                   </form>
                </div>
              </div>
            </div>





            <!-- /.col-->
          </div>

        </div>
          <!-- /.row-->
    </div>

{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}
