additionalTrustBundle: |
  {{ trustbundle | regex_replace('\n', '\n  ') }}
imageContentSources:
{% for remote in kubeinit_registry_remote_repositories %}
- mirrors:
  - {{ kubeinit_registry_uri }}/{{ kubeinit_registry_local_repository }}
  source: {{ remote }}
{% endfor %}
