---
{{ kubeinit_okd_registry }}:
  images-by-tag-regex:
    {{ kubeinit_okd_registry_organization }}/{{ kubeinit_okd_registry_repository }}: ^{{ kubeinit_okd_registry_release_tag | replace('.','\.') }}-.*$
  tls-verify: false
