[all:vars]

cluster_config_dir="{{ ansible_user_dir }}/clusterconfigs"	# directory used to store the cluster configuration files (install-config.yaml, pull-secret.txt)
version="latest-4.5"				# version of openshift installer
webserver_url=http://example.com:<port>		# webserver to store rhcos images for a disconnected install

# vars for install-config.yaml
domain = ""
cluster = ""
extcidrnet="192.168.112.199/24"
apivip="192.168.123.4"
ingressvip="192.168.123.5"
network_type="OVNKubernetes"
pullsecret=""

# master nodes
[masters]
master-0 name=master-0 role=master ipmi_user=admin ipmi_password=password ipmi_address=192.168.111.10 ipmi_port=623
master-1 name=master-0 role=master ipmi_user=admin ipmi_password=password ipmi_address=192.168.111.10 ipmi_port=623
master-2 name=master-0 role=master ipmi_user=admin ipmi_password=password ipmi_address=192.168.111.10 ipmi_port=623

# registry host
[registry_host]
192.168.112.199

[registry_host:vars]
#cert_country=US  # two letters country
#cert_state=MyState
#cert_locality=MyCity
#cert_organization=MyCompany
#cert_organizational_unit=MyDepartment
#registry_port=5000
#registry_dir="/opt/registry"


