<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'>
  <nat>
    <port start='1024' end='65535'/>
  </nat>
  </forward>
  <bridge name='{{ item.bridge }}' stp='on' delay='0'/>
  <ip address='{{ item.gateway }}' netmask='{{ item.netmask }}'>
      <dhcp>
          <range start='{{ item.start }}' end='{{ item.end }}'/>
          {% if item.main %}
          {% for host in groups['okd_master_nodes'] + groups['okd_worker_nodes'] + groups['okd_service_nodes'] + groups['okd_bootstrap_nodes'] %}
          <host mac="{{ hostvars[host].mac }}" name="{{ host }}.{{ kubeinit_provision_cluster_domain }}" ip="{{ hostvars[host].ansible_host }}"/>
          {% endfor %}
          {% endif %}
      </dhcp>
  </ip>
  <dns>
    <forwarder domain='{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}' addr="{{ hostvars[groups['okd_service_nodes'][0]].ansible_host }}"/>
  </dns>
</network>
