#
# Generated when provision the VM details from ifcfg-eth1.j2
#
BOOTPROTO=static
NAME={{ kubeinit_bind_external_service_interface.dev }}
DEVICE={{ kubeinit_bind_external_service_interface.dev }}
IPV4_FAILURE_FATAL=no
DOMAIN={{ kubeinit_provision_cluster_domain }}
GATEWAY={{ kubeinit_bind_external_service_interface.gateway }}
DEFROUTE=yes
IPADDR={{ kubeinit_bind_external_service_interface.ip }}
NETMASK={{ kubeinit_bind_external_service_interface.netmask }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
LINKDELAY=60

# We need to add LINKDELAY
# https://access.redhat.com/solutions/2523931
