<i data-fa-symbol="fa-github" class="fab fa-github fa-fw"></i>
<i data-fa-symbol="fa-book-reader" class="fas fa-book-reader fa-fw"></i>
<i data-fa-symbol="fa-sign-out-alt" class="fas fa-sign-out-alt fa-fw"></i>

<header class="c-header c-header-light c-header-fixed">
  <button class="c-header-toggler c-class-toggler d-lg-none mr-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
    <span class="c-header-toggler-icon"></span>
  </button>
  <a class="c-header-brand d-lg-none" href="#">
    <img src="/static/assets/brand/pystol-base.svg" width="130" alt="Pystol">
  </a>
  <button class="c-header-toggler c-class-toggler ml-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
    <span class="c-header-toggler-icon"></span>
  </button>
  <ul class="c-header-nav d-md-down-none">
    <li class="breadcrumb-item">{{ title }}</li>
  </ul>
  <ul class="c-header-nav ml-auto mr-4">
    <li class="c-header-nav-item d-md-down-none mx-2">
      {% if username and email %}
      <small class="text-muted text-uppercase font-weight-bold">
        Welcome: {{ username }} - {{ email }}
      </small>
      {% endif %}
    </li>
    <li class="c-header-nav-item d-md-down-none mx-2"><a class="c-header-nav-link" href="https://github.com/kubeinit/kubeinit/" target="_blank">
      <svg class="c-icon">
        <use xlink:href="#fa-github"></use>
      </svg>
    </a>
  </li>
  <li class="c-header-nav-item d-md-down-none mx-2">
    <a class="c-header-nav-link" href="https://docs.kubeinit.com/" target="_blank">
      <svg class="c-icon">
        <use xlink:href="#fa-book-reader"></use>
      </svg>
    </a>
  </li>
</ul>
</header>
