$TTL    604800
{% for host in groups['okd-service-nodes'] %}
@       IN      SOA     {{ host }}.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}. admin.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.(
{% endfor %}
                  6     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
{% for host in groups['okd-service-nodes'] %}
    IN      NS      {{ host }}.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.
{% endfor %}

; OpenShift Container Platform Cluster - PTR records
{% for host in groups['okd-master-nodes'] %}
{{ hostvars[groups['okd-master-nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.
{% endfor %}

{% for host in groups['okd-worker-nodes'] %}
{{ hostvars[groups['okd-worker-nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.
{% endfor %}

{% for host in groups['okd-bootstrap-nodes'] %}
{{ hostvars[groups['okd-bootstrap-nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.
{% endfor %}

{% for host in groups['okd-service-nodes'] %}
{{ hostvars[groups['okd-service-nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.
{{ hostvars[groups['okd-service-nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR api.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.
{{ hostvars[groups['okd-service-nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR api-int.{{pystol_provision_cluster_name}}.{{ pystol_provision_cluster_domain }}.
{% endfor %}
