interface={{ kubeinit_dnsmasq_interface }}
no-hosts
no-resolv
bind-dynamic

# Disable listening for DNS
port=0

log-dhcp
log-facility=-

dhcp-range={{ kubeinit_cluster_dhcp_start }},{{ kubeinit_cluster_dhcp_end }},1h

dhcp-option=3,{{ kubeinit_cluster_gateway }}
dhcp-option=6,{{ kubeinit_cluster_nameserver }}
dhcp-option=15,{{ kubeinit_cluster_domain }}
dhcp-option=26,1442
dhcp-option=119,{{ kubeinit_cluster_domain }}

{% for host in groups['all_service_nodes'] | list %}
dhcp-host={{ hostvars[host].mac }},{{ host }}.{{ kubeinit_cluster_fqdn }},{{ hostvars[host].ansible_host }},1h
{% endfor %}
{% for host in groups['all_controller_nodes'] | list %}
dhcp-host={{ hostvars[host].mac }},master{{ loop.index - 1 }}.{{ kubeinit_cluster_fqdn }},{{ hostvars[host].ansible_host }},1h
{% endfor %}
{% for host in groups['all_compute_nodes'] | default([]) | list %}
dhcp-host={{ hostvars[host].mac }},worker{{ loop.index - 1 }}.{{ kubeinit_cluster_fqdn }},{{ hostvars[host].ansible_host }},1h
{% endfor %}
{% for host in groups['all_extra_nodes'] | default([]) | list %}
dhcp-host={{ hostvars[host].mac }},{{ host }}.{{ kubeinit_cluster_fqdn }},{{ hostvars[host].ansible_host }},1h
{% endfor %}
