$TTL    604800
{% for host in groups['okd_service_nodes'] %}
@       IN      SOA     {{ host }}.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}. admin.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.(
{% endfor %}
                  6     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
{% for host in groups['okd_service_nodes'] %}
    IN      NS      {{ host }}.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.
{% endfor %}

; OpenShift Container Platform Cluster - PTR records
{% for host in groups['okd_master_nodes'] %}
{{ hostvars[groups['okd_master_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.
{% endfor %}

{% for host in groups['okd_worker_nodes'] %}
{{ hostvars[groups['okd_worker_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.
{% endfor %}

{% for host in groups['okd_bootstrap_nodes'] %}
{{ hostvars[groups['okd_bootstrap_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.
{% endfor %}

{% for host in groups['okd_service_nodes'] %}
{{ hostvars[groups['okd_service_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.
{{ hostvars[groups['okd_service_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR api.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.
{{ hostvars[groups['okd_service_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR api-int.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}.
{% endfor %}
