zone "{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}" {
    type master;
    file "/etc/named/zones/db.{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}"; # zone file path
};

zone "{{ hostvars[groups['okd_service_nodes'][0]].ansible_host | ipaddr('revdns') | regex_replace('^[0-9]+\\.', '') }}" {
    type master;
    file "/etc/named/zones/db.{{ hostvars[groups['okd_service_nodes'][0]].ansible_host | ipsubnet(24) | ipaddr('network') }}";  # 192.168.1.0/24 subnet
};
