---
# Copyright kubeinit.com
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

- name: install services requirements
  yum:
    name: "{{ kubeinit_okd_service_dependencies }}"
    state: present
    use_backend: dnf
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: Resize root partition
  shell: |
    echo 'Reclaim space for root partition'
    growpart /dev/vda 1
    xfs_growfs /dev/vda1
  changed_when: false
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

#
# Configure bind
#

- name: Configure Bind
  delegate_to: "{{ groups['okd_service_nodes'][0] }}"
  # delegate_facts: true
  import_role:
    name: ../../roles/kubeinit_bind
    tasks_from: main
  tags:
    - provision_libvirt
#
# Configure HAproxy
#

- name: Configure HAProxy
  delegate_to: "{{ groups['okd_service_nodes'][0] }}"
  # delegate_facts: true
  import_role:
    name: ../../roles/kubeinit_haproxy
    tasks_from: main
  tags:
    - provision_libvirt

#
# Configure httpd
#

- name: Configure Apache
  delegate_to: "{{ groups['okd_service_nodes'][0] }}"
  # delegate_facts: true
  import_role:
    name: ../../roles/kubeinit_apache
    tasks_from: main
  tags:
    - provision_libvirt

#
# Include the install configuration
#

- name: "Render root keys in the service node"
  shell: |
    cd
    mkdir ~/.ssh
    ssh-keygen -t rsa -N "" -f .ssh/id_rsa <<< y
  register: render_service_keys
  changed_when: "render_service_keys.rc == 0"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt


- name: get root service machine public key
  command: cat /root/.ssh/id_rsa.pub
  register: public_key_service_content
  changed_when: "public_key_service_content.rc == 0"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: register the public key of the root service machine public key
  set_fact:
    kubeinit_provision_service_public_key={{ public_key_service_content.results }}
  tags:
    - provision_libvirt

- name: Download okd installer
  get_url:
    url: "{{ kubeinit_okd_dependencies.installer }}"
    dest: ~/
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: Download okd client
  get_url:
    url: "{{ kubeinit_okd_dependencies.client }}"
    dest: ~/
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: "Render the bootstrap details"
  shell: |
    set -o pipefail
    cd
    rm -rf install_dir
    mkdir install_dir
    for f in *.tar.gz; do tar -xvf "$f"; done
    mv kubectl oc openshift-install /usr/local/bin/
    oc version
    openshift-install version
    cat << EOF > ./install_dir/install-config.yaml
    ---
    apiVersion: v1
    baseDomain: {{ kubeinit_common_cluster_domain }}
    compute:
      - hyperthreading: Enabled
        name: worker
        replicas: 0
    controlPlane:
      hyperthreading: Enabled
      name: master
      replicas: {{ groups['okd_master_nodes'] | count }}
    metadata:
      name: {{ kubeinit_common_cluster_name }}
    networking:
      clusterNetwork:
        - cidr: 10.100.0.0/14
          hostPrefix: 23
      networkType: OpenShiftSDN
      serviceNetwork:
        - 172.30.0.0/16
    platform:
      none: {}
    fips: false
    pullSecret: '{"auths":{"fake":{"auth": "bar"}}}'
    sshKey: |
      {{ kubeinit_provision_vms_public_key }}
      {{ kubeinit_provision_service_public_key[0]['stdout'] }}
    EOF
    openshift-install create manifests --dir=install_dir/
  register: render_bootstrap_details
  changed_when: "render_bootstrap_details.rc == 0"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: "Disable master schedulable"
  shell: |
    set -o pipefail
    cd
    # Be aware of this option, explain the consequences in:
    # https://www.anstack.com/blog/2020/08/16/a-review-of-the-machineconfig-operator.html
    sed -i 's/mastersSchedulable: true/mastersSchedulable: False/' install_dir/manifests/cluster-scheduler-02-config.yml
  register: disable_masters_sched
  changed_when: "disable_masters_sched.rc == 0"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  when: groups['all'] | map('regex_search','^.*(worker).*$') | select('string') | list | length > 0
  tags:
    - provision_libvirt

- name: Create directory for apache
  file:
    path: /var/www/html/okd4
    state: directory
    owner: apache
    group: apache
    mode: 0775
    recurse: yes
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: Download coreos raw image
  get_url:
    url: "{{ kubeinit_libvirt_source_images.coreos.uri }}{{ kubeinit_libvirt_source_images.coreos.raw }}"
    dest: /var/www/html/okd4/
    owner: apache
    group: apache
    mode: 0775
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: Download coreos sig image
  get_url:
    url: "{{ kubeinit_libvirt_source_images.coreos.uri }}{{ kubeinit_libvirt_source_images.coreos.sig }}"
    dest: /var/www/html/okd4/
    owner: apache
    group: apache
    mode: 0775
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: "Render ignition files"
  shell: |
    openshift-install create ignition-configs --dir=install_dir/
    cp -R install_dir/* /var/www/html/okd4/
  register: render_ignition_files
  changed_when: "render_ignition_files.rc == 0"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt


- name: "Apply permissions to the apache folder"
  shell: |
    sudo chown -R apache: /var/www/html/
    sudo chmod -R 755 /var/www/html/
  register: apply_apache_permissions
  changed_when: "apply_apache_permissions.rc == 0"
  delegate_to: "{{ item }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  tags:
    - provision_libvirt

- name: Autoload kubeconfig
  shell: |
    echo "export KUBECONFIG=~/install_dir/auth/kubeconfig" >> ~/.bashrc
  delegate_to: "{{ cluster_node }}"
  with_items: "{{ groups['okd_service_nodes'] }}"
  loop_control:
    loop_var: cluster_node
  ignore_errors: yes
  register: autoload
  changed_when: "autoload.rc == 0"
  tags:
    - provision_libvirt

#
# Configure NFS
#

- name: Configure NFS
  delegate_to: "{{ groups['okd_service_nodes'][0] }}"
  # delegate_facts: true
  import_role:
    name: ../../roles/kubeinit_nfs
    tasks_from: main
  tags:
    - provision_libvirt
