#cloud-config

network:
  version: 2
  ethernets:
    # opaque ID for physical interfaces, only referred to by other stanzas
    eth0:
      addresses:
        - {{ item.eth0.ip }}/{{ item.eth0.prefix }}
      gateway4: {{ item.eth0.gateway }}
      nameservers:
        search: [{{ pystol_provision_cluster_domain }}]
        addresses: [{{ item.eth0.gateway }}]
