variant: fcos
version: 1.0.0
passwd:
  users:
    - name: core
      password_hash: "{{ pystol_provision_vms_default_password_hash }}"
      ssh_authorized_keys:
        - {{ pystol_provision_vms_public_key }}
    - name: {{ pystol_provision_cloud_user }}
      ssh_authorized_keys:
        - {{ pystol_provision_vms_public_key }}
storage:
  files:
    - path: /etc/hostname
      overwrite: true
      contents:
        inline: {{ item.name }}.{{ pystol_provision_cluster_domain }}
    - path: /etc/hosts
      overwrite: true
      contents:
        inline: |
          127.0.0.1 $fqdn $hostname
          127.0.0.1 localhost.localdomain localhost
          127.0.0.1 localhost4.localdomain4 localhost4

          # The following lines are desirable for IPv6 capable hosts
          ::1 $fqdn $hostname
          ::1 localhost.localdomain localhost
          ::1 localhost6.localdomain6 localhost6

{% for host in pystol_provision_cluster_hosts %}
          {{ host.eth0.ip }} {{ host.name }}.{{ pystol_provision_cluster_domain }} {{ host.name }}
{% endfor %}
    - path: /etc/ssh/sshd_config.d/20-enable-passwords.conf
      mode: 0644
      contents:
        inline: |
          # Fedora CoreOS disables SSH password login by default.
          # Enable it.
          # This file must sort before 40-disable-passwords.conf.
          PasswordAuthentication yes
    - path: /etc/NetworkManager/system-connections/{{ item.eth0.devicename }}.nmconnection
      mode: 0600
      overwrite: true
      contents:
        inline: |
          [connection]
          type=ethernet
          interface-name={{ item.eth0.devicename }}

          [ethernet]
          mac-address={{ item.eth0.mac }}

          [ipv4]
          method=manual
          addresses={{ item.eth0.ip }}/{{ item.eth0.prefix }}
          gateway={{ item.eth0.gateway }}
          dns={{ item.eth0.gateway }}
          dns-search={{ pystol_provision_cluster_domain }}
