#
# Generated when provision the VM details from ifcfg-eth0.j2
#
BOOTPROTO=static
DEFROUTE=yes
NAME=eth0
DEVICE=eth0
IPV4_FAILURE_FATAL=no
DNS1={{ item.eth0.gateway }}
DOMAIN={{ kubeinit_provision_cluster_domain }}
GATEWAY={{ item.eth0.gateway }}
IPADDR={{ item.eth0.ip }}
NETMASK={{ item.eth0.netmask }}
MACADDR={{ item.eth0.mac }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
LINKDELAY=60

# We need to add LINKDELAY
# https://access.redhat.com/solutions/2523931
