<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'>
  <nat>
    <port start='1024' end='65535'/>
  </nat>
  </forward>
  <bridge name='{{ kubeinit_provision_virtual_bridge_name }}' stp='on' delay='0'/>
  <ip address='{{ item.ip }}' netmask='{{ item.netmask }}'>
      <dhcp>
          <range start='{{ item.start }}' end='{{ item.end }}'/>
          {% for host in groups['okd-master-nodes'] + groups['okd-worker-nodes'] + groups['okd-service-nodes'] + groups['okd-bootstrap-nodes'] %}
          <host mac="{{ hostvars[host].mac }}" name="{{ host }}.{{ kubeinit_provision_cluster_domain }}" ip="{{ hostvars[host].ansible_host }}"/>
          {% endfor %}
      </dhcp>
  </ip>
  <dns>
    <forwarder domain='{{kubeinit_provision_cluster_name}}.{{ kubeinit_provision_cluster_domain }}' addr="{{ hostvars[groups['okd-service-nodes'][0]].ansible_host }}"/>
  </dns>
</network>
