<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'>
  <nat>
    <port start='1024' end='65535'/>
  </nat>
  </forward>
  <bridge name='{{ pystol_provision_virtual_bridge_name }}' stp='on' delay='0'/>
  <ip address='{{ item.ip }}' netmask='{{ item.netmask }}'>
      <dhcp>
          <range start='{{ item.start }}' end='{{ item.end }}'/>
          {% for host in pystol_provision_cluster_hosts %}
            <host mac="{{ host.eth0.mac }}" name="{{ host.name }}.{{ pystol_provision_cluster_domain }}" ip="{{ host.eth0.ip }}"/>
          {% endfor %}
      </dhcp>
  </ip>
</network>
