<network>
  <name>{{ item.name }}</name>
  <forward mode='route'>
  </forward>
  <bridge name='{{ pystol_provision_virtual_bridge_name }}' stp='on' delay='0'/>
  <ip address='{{ item.ip }}' netmask='{{ item.netmask }}'>
      <dhcp>
          <range start='{{ item.start }}' end='{{ item.end }}'/>
      </dhcp>
  </ip>
</network>
