#
# Generated when provision the VM details from pystol-ifcfg-eth0.j2
#
BOOTPROTO=none
DEFROUTE=yes
DEVICE=eth0
DNS1={{ item.eth0.gateway }}
DOMAIN=dev.pystol.org
GATEWAY={{ item.eth0.gateway }}
IPADDR={{ item.eth0.ip }}
NETMASK={{ item.eth0.netmask }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
LINKDELAY=50

# We need to add LINKDELAY
# https://access.redhat.com/solutions/2523931
