<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr1' stp='on' delay='0'/>
  <ip address='{{ item.ip }}' netmask='{{ item.netmask }}'>
      <dhcp>
          <range start='{{ item.start }}' end='{{ item.end }}'/>
      </dhcp>
  </ip>
</network>
