h1 {
    font-size: 300%;
}
h2 {
    font-size: 200%;
    font-weight: 100;
}
h3 {
    font-size: 150%;
    font-weight: 100;
}
h4 {
    font-size: 100%;
    font-weight: 1000;
}

h4:before {
  content: '■ ';
    position: relative;
    bottom: .1em;
    color: #000;
}

.wy-nav-content {
    max-width: none;
}

div.leftside {
    width: 230px;
    height: 130px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    text-align: justify;
    text-justify: inter-word;
}
