h3 {
    font-size: 90%;
}

.wy-nav-content {
    max-width: none;
}

div.leftside {
    width: 230px;
    height: 120px;
    padding: 0px 3px 0px 0px;
    float: left;
}

div.rightside {
    text-align: justify;
    text-justify: inter-word;
}
