apiVersion: v1
kind: Pod
metadata:
  labels:
    run: nginx
  name: nginx
spec:
  containers:
  - image: quay.io/kubeinit/nginx-unprivileged:latest
    name: nginx
  dnsPolicy: ClusterFirst
  runtimeClassName: kata
