apiVersion: apps/v1
kind: Deployment
metadata:
  name: sampleapp
  namespace: sampleapp
  labels:
    app: sampleapp
spec:
  selector:
    matchLabels:
      app: sampleapp
  replicas: {{ kubeinit_apps_sampleapp_replicas }}
  template:
    metadata:
      labels:
        app: sampleapp
    spec:
      containers:
      - name: httpd
        image: quay.io/centos7/httpd-24-centos7
        ports:
        - containerPort: 80
