apiVersion: apps/v1
kind: Deployment
metadata:
  name: sampleapp
  namespace: sampleapp
  labels:
    app: sampleapp
spec:
  selector:
    matchLabels:
      app: sampleapp
  replicas: {{ kubeinit_apps_sampleapp_replicas }}
  template:
    metadata:
      labels:
        app: sampleapp
    spec:
      containers:
      - name: nginx
        image: quay.io/kubeinit/nginx-unprivileged:latest
        ports:
        - containerPort: 8080
      nodeSelector:
       kubernetes.io/os: linux
