apiVersion: apps/v1
kind: Deployment
metadata:
  name: sampleapp
  namespace: sampleapp
  labels:
    app: sampleapp
spec:
  selector:
    matchLabels:
      app: sampleapp
  replicas: {{ kubeinit_apps_sampleapp_replicas }}
  template:
    metadata:
      labels:
        app: sampleapp
    spec:
      containers:
      - name: nginx
        # We try to avoid pulling from docker.io because
        # of the limit rate, this cause multiple installs
        # to fail that should be successful deployments
        # TODO:FIXME: Find a more stable place like quay.io
        # But there are no nginx official container images in quay
        image: nginx:1.14.2
        ports:
        - containerPort: 80
