# https://rancher.com/docs/rke/latest/en/example-yamls/
nodes:
{% for host in groups['all_controller_nodes'] | list %}
  - address: {{ host }}.{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}
    hostname_override: {{ host }}
    user: root
    port: "22"
    role:
      - controlplane
      - etcd
    docker_socket: /var/run/docker.sock
    ssh_key: ""
    ssh_key_path: ~/.ssh/id_rsa
    ssh_cert: ""
    ssh_cert_path: ""
    labels: {}
    taints: []
{% endfor %}
{% for host in groups['all_compute_nodes'] | list %}
  - address: {{ host }}.{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}
    hostname_override: {{ host }}
    user: root
    port: "22"
    role:
      - worker
    docker_socket: /var/run/docker.sock
    ssh_key: ""
    ssh_key_path: ~/.ssh/id_rsa
    ssh_cert: ""
    ssh_cert_path: ""
    labels: {}
    taints: []
{% endfor %}
services:
  etcd:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    win_extra_args: {}
    win_extra_binds: []
    win_extra_env: []
    external_urls: []
    ca_cert: ""
    cert: ""
    key: ""
    path: ""
    uid: 0
    gid: 0
    snapshot: null
    retention: ""
    creation: ""
    backup_config: null
  kube-api:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    win_extra_args: {}
    win_extra_binds: []
    win_extra_env: []
    service_cluster_ip_range: {{ kubeinit_rke_service_cidr }}
    cluster_cidr: {{ kubeinit_rke_pod_cidr }}
    service_node_port_range: ""
    pod_security_policy: false
    always_pull_images: false
    secrets_encryption_config: null
    audit_log: null
    admission_configuration: null
    event_rate_limit: null
  kube-controller:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    win_extra_args: {}
    win_extra_binds: []
    win_extra_env: []
    service_cluster_ip_range: {{ kubeinit_rke_service_cidr }}
    cluster_cidr: {{ kubeinit_rke_pod_cidr }}
  scheduler:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    win_extra_args: {}
    win_extra_binds: []
    win_extra_env: []
  kubelet:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    win_extra_args: {}
    win_extra_binds: []
    win_extra_env: []
    cluster_domain: cluster.local
    infra_container_image: ""
    # TODO:FIXME: Hardwired IP
    cluster_dns_server: 10.43.0.10
    fail_swap_on: false
    generate_serving_certificate: false
  kubeproxy:
    image: ""
    extra_args: {}
    extra_binds: []
    extra_env: []
    win_extra_args: {}
    win_extra_binds: []
    win_extra_env: []
network:
  plugin: canal
  options: {}
  mtu: 0
  node_selector: {}
  update_strategy: null
authentication:
  strategy: x509
  sans: []
  webhook: null
addons: ""
addons_include: []
#system_images:
#  etcd: rancher/coreos-etcd:v3.4.3-rancher1
#  alpine: rancher/rke-tools:v0.1.65
#  nginx_proxy: rancher/rke-tools:v0.1.65
#  cert_downloader: rancher/rke-tools:v0.1.65
#  kubernetes_services_sidecar: rancher/rke-tools:v0.1.65
#  kubedns: rancher/k8s-dns-kube-dns:1.15.2
#  dnsmasq: rancher/k8s-dns-dnsmasq-nanny:1.15.2
#  kubedns_sidecar: rancher/k8s-dns-sidecar:1.15.2
#  kubedns_autoscaler: rancher/cluster-proportional-autoscaler:1.7.1
#  coredns: rancher/coredns-coredns:1.6.9
#  coredns_autoscaler: rancher/cluster-proportional-autoscaler:1.7.1
#  nodelocal: rancher/k8s-dns-node-cache:1.15.7
#  kubernetes: rancher/hyperkube:v1.18.9-rancher1
#  flannel: rancher/coreos-flannel:v0.12.0
#  flannel_cni: rancher/flannel-cni:v0.3.0-rancher6
#  calico_node: rancher/calico-node:v3.13.4
#  calico_cni: rancher/calico-cni:v3.13.4
#  calico_controllers: rancher/calico-kube-controllers:v3.13.4
#  calico_ctl: rancher/calico-ctl:v3.13.4
#  calico_flexvol: rancher/calico-pod2daemon-flexvol:v3.13.4
#  canal_node: rancher/calico-node:v3.13.4
#  canal_cni: rancher/calico-cni:v3.13.4
#  canal_flannel: rancher/coreos-flannel:v0.12.0
#  canal_flexvol: rancher/calico-pod2daemon-flexvol:v3.13.4
#  weave_node: weaveworks/weave-kube:2.6.4
#  weave_cni: weaveworks/weave-npc:2.6.4
#  pod_infra_container: rancher/pause:3.1
#  ingress: rancher/nginx-ingress-controller:nginx-0.35.0-rancher1
#  ingress_backend: rancher/nginx-ingress-controller-defaultbackend:1.5-rancher1
#  metrics_server: rancher/metrics-server:v0.3.6
#  windows_pod_infra_container: rancher/kubelet-pause:v0.1.4
ssh_key_path: ~/.ssh/id_rsa
ssh_cert_path: ""
ssh_agent_auth: false
authorization:
  mode: rbac
  options: {}
ignore_docker_version: false
kubernetes_version: ""
{% if 'registry' in kubeinit_cluster_hostvars.services %}
private_registries:
  - url: {{ kubeinit_registry_uri }}
    user: {{ kubeinit_registry_user }}
    password: {{ kubeinit_registry_password }}
    is_default: true
{% else %}
private_registries: []
{% endif %}
ingress:
  provider: ""
  options: {}
  node_selector: {}
  extra_args: {}
  dns_policy: ""
  extra_envs: []
  extra_volumes: []
  extra_volume_mounts: []
  update_strategy: null
cluster_name: {{ kubeinit_inventory_cluster_name }}
cloud_provider:
  name: ""
prefix_path: ""
win_prefix_path: ""
addon_job_timeout: 0
bastion_host:
  address: ""
  port: ""
  user: ""
  ssh_key: ""
  ssh_key_path: ""
  ssh_cert: ""
  ssh_cert_path: ""
monitoring:
  provider: ""
  options: {}
  node_selector: {}
  update_strategy: null
  replicas: null
restore:
  restore: false
  snapshot_name: ""
dns: null
