.honeycombs{
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;

}

.honeycombs * {
	box-sizing: border-box;
}

.honeycombs .honeycombs-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: 1200px;
}

.honeycombs .comb{
	position: absolute;
	display: inline-block;
	cursor: pointer;
}

.comb .icon-hex-lg {
  color: #FF9000;
}

.comb.pending .icon-hex-lg {
  color: #0066FF;
}

.comb.running .icon-hex-lg {
  color: #009966;
}

.comb.succeeded .icon-hex-lg {
  color: #FF9000;
}

.comb.failed .icon-hex-lg {
  color: #FF3333;
}

.comb.unknown .icon-hex-lg {
  color: #C0C0C0;
}

.comb.placeholder{
	cursor: default;
}

.comb span.firefox {
	left: 0;
    position: absolute;
    top: 20px;
    z-index: -1;
}


.comb.placeholder span {
	color: #FFF !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity= 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.comb .inner {
	height: 100%;
	width: 100%;
	position: absolute;
	display: -webkit-box;
	-webkit-box-align: center;
	display: flex;
	display: -webkit-flex;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-perspective: 1000;
	backface-visibility: hidden;
	-moz-perspective: 1000;
	perspective: 1000;
}

.comb .inner .wrapper {
	margin: auto;
}

.comb .inner.back {
	padding: 3.5em;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity= 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;

}


.comb:hover > .inner.back{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity= 100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.comb:hover > .inner.front {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity= 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

.comb:hover > span {
	color: #00AFAE !important;

}

.comb.placeholder:hover > span {
	color: #fff !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity= 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;

}

.comb .inner p {
	font-size: 14px;
	line-height: 1.2;
	color: white;
}

.comb .inner.back .wrapper {
	width: inherit;
	overflow: hidden;
}

@font-face {
	font-family: 'icomoon';
	src:url('https://raw.githubusercontent.com/pystol/pystol-docs/master/assets/fonts/icomoon/icomoon.eot?3d1mhj');
	src:url('https://raw.githubusercontent.com/pystol/pystol-docs/master/assets/fonts/icomoon/icomoon.eot?#iefix3d1mhj') format('embedded-opentype'),
		url('https://raw.githubusercontent.com/pystol/pystol-docs/master/assets/fonts/icomoon/icomoon.woff?3d1mhj') format('woff'),
		url('https://raw.githubusercontent.com/pystol/pystol-docs/master/assets/fonts/icomoon/icomoon.ttf?3d1mhj') format('truetype'),
		url('https://raw.githubusercontent.com/pystol/pystol-docs/master/assets/fonts/icomoon/icomoon.svg?3d1mhj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hex-lg:before {
	content: "\e604";
}
