apiVersion: v1
baseDomain: {{ kubeinit_inventory_cluster_domain }}
compute:
  - hyperthreading: Enabled
    name: worker
    replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ kubeinit_controller_count }}
metadata:
  name: {{ kubeinit_inventory_cluster_name }}
networking:
  clusterNetwork:
    - cidr: {{ kubeinit_okd_pod_cidr }}
      hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
    - {{ kubeinit_okd_service_cidr }}
platform:
  none: {}
fips: false
{% if 'registry' in kubeinit_cluster_hostvars.services %}
pullSecret: '  {{ kubeinit_registry_pullsecret }}'
{% else %}
pullSecret: '  {{ kubeinit_okd_registry_pullsecret }}'
{% endif %}
sshKey: |
{% for authorized_key in kubeinit_cluster_hostvars.authorized_keys %}
  {{ authorized_key }}
{% endfor %}
{% if 'registry' in kubeinit_cluster_hostvars.services %}
additionalTrustBundle: |
  {{ kubeinit_cluster_hostvars.domain_cert | regex_replace('\n', '\n  ') }}
imageContentSources:
- mirrors:
  - {{ kubeinit_registry_uri }}/okd
  source: quay.io/openshift/okd
- mirrors:
  - {{ kubeinit_registry_uri }}/okd
  source: quay.io/openshift/okd-content
{% endif %}
