{% extends "base-site-fullscreen.html" %}
{% block title %} 500 {% endblock %}
{% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">500</h1>
            <h4 class="pt-3">It is interesting when the thing that must break things breaks!</h4>
            <p class="text-muted">The page you are looking for is temporarily unavailable - <a href="/">Home</a>.
          </div>
        </div>
      </div>
      </div>
{% endblock content %}
