{% extends "base-site.html" %}

{% block title %} Available {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">
          <div class="row">

            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">Pystol's available actions</div>
                <div class="card-body">
                  <table class="table table-responsive-sm table-bordered table-striped table-sm dataTable" id="pystol-table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Documentation</th>
                      </tr>
                    </thead>
                    <tbody>
              {% for action in show_actions %}
                      <tr>
                        <td>{{ action.name }}</td>
                        <td>{{ action.description }}</td>
                        <td>{{ action.documentation }}</td>
                      </tr>
              {% endfor %}
                    </tbody>
                  </table>

<div class="bd-example">
                <dl class="row">
                  <dt class="col-sm-3">License</dt>
                  <dd class="col-sm-9">{{ show_actions[0].license }}</dd>
                  <dt class="col-sm-3">Version</dt>
                  <dd class="col-sm-9">{{ show_actions[0].version }}</dd>
                  <dt class="col-sm-3">Repository</dt>
                  <dd class="col-sm-9">{{ show_actions[0].repository }}</dd>
                </dl>
</div>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/JavaScript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script type="text/JavaScript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

    <script>
      $(document).ready(function() {
        $("#pystol-table").dataTable();
      });
    </script>
{% endblock javascripts %}
