# This file is rendered using a	template from a KubeInit role
# This file will be overridden each time	the playbook runs
# No not edit directly
# More information at: https://github.com/kubeinit/kubeinit

datasource_list: [ ConfigDrive, None ]
