network:
  version: 2
  ethernets:
    enp1s0:
      addresses:
      - "{{ hostvars[kubeinit_deployment_node_name].ansible_host }}/{{ kubeinit_cluster_prefix }}"
      mtu: 1442
      nameservers:
        addresses:
        - "{{ kubeinit_cluster_nameserver }}"
      routes:
      - to: "default"
        via: "{{ kubeinit_cluster_gateway }}"
