
auto enp1s0
iface enp1s0 inet static
address {{ hostvars[kubeinit_deployment_node_name].ansible_host }}/{{ hostvars[kubeinit_deployment_node_name].prefix }}
gateway {{ kubeinit_inventory_network_gateway }}
mtu 1442
