# This file is rendered using a	template from a KubeInit role
# This file will be overridden each time	the playbook runs
# No not edit directly
# More information at: https://github.com/kubeinit/kubeinit

#
# Generated when provision the VM details from ifcfg-eth1.j2
#
BOOTPROTO=static
NAME={{ kubeinit_libvirt_external_service_interface.dev }}
DEVICE={{ kubeinit_libvirt_external_service_interface.dev }}
IPV4_FAILURE_FATAL=no
DOMAIN={{ kubeinit_inventory_cluster_domain }}
GATEWAY={{ kubeinit_libvirt_external_service_interface.gateway }}
DEFROUTE=yes
IPADDR={{ kubeinit_libvirt_external_service_interface.ip }}
NETMASK={{ kubeinit_libvirt_external_service_interface.netmask }}
MACADDR={{ kubeinit_libvirt_external_service_interface.mac }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
LINKDELAY=60

# We need to add LINKDELAY
# https://access.redhat.com/solutions/2523931
