# This file is rendered using a	template from a KubeInit role
# This file will be overridden each time	the playbook runs
# No not edit directly
# More information at: https://github.com/kubeinit/kubeinit

#
# Generated when provision the VM details from ifcfg-eth0.j2
#
BOOTPROTO=static
NAME=eth0
DEVICE=eth0
IPV4_FAILURE_FATAL=no
#DNS1={{ kubeinit_bind_service_address }}
DNS1={{ kubeinit_common_dns_public }}
DOMAIN={{ kubeinit_inventory_cluster_domain }}
GATEWAY={{ kubeinit_cluster_gateway }}
DEFROUTE=yes
IPADDR={{ hostvars[kubeinit_deployment_node_name].ansible_host }}
NETMASK={{ kubeinit_cluster_netmask }}
MACADDR={{ hostvars[kubeinit_deployment_node_name].mac }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
LINKDELAY=60
# Per OVN requirements
MTU=1442

# We need to add LINKDELAY
# https://access.redhat.com/solutions/2523931
