$KubernetesVersion = "v1.24.2"
$global:KubernetesPath = "$env:SystemDrive\k"
New-Item $global:KubernetesPath -Force -ItemType Directory | Out-Null

curl.exe -L https://github.com/Microsoft/SDN/raw/master/Kubernetes/windows/hns.psm1 -o $global:KubernetesPath\hns.psm1
curl.exe -L https://github.com/rancher/wins/releases/download/v0.2.10/wins.exe -o $global:KubernetesPath\wins.exe
curl.exe -L https://dl.k8s.io/$KubernetesVersion/bin/windows/amd64/kubeadm.exe -o $global:KubernetesPath\kubeadm.exe
curl.exe -L https://dl.k8s.io/$KubernetesVersion/bin/windows/amd64/kubectl.exe -o $global:KubernetesPath\kubectl.exe
curl.exe -L https://dl.k8s.io/$KubernetesVersion/bin/windows/amd64/kubelet.exe -o $global:KubernetesPath\kubelet.exe
curl.exe -L https://dl.k8s.io/$KubernetesVersion/bin/windows/amd64/kube-proxy.exe -o $global:KubernetesPath\kube-proxy.exe

New-Item C:\opt\cni\bin -Force -ItemType Directory | Out-Null
curl.exe -L https://github.com/coreos/flannel/releases/download/v0.18.1/flanneld.exe -o C:\opt\cni\bin\flanneld.exe
# setup flannel config
New-Item C:\etc\kube-flannel\ -Force -ItemType Directory | Out-Null
@"
{
  "Network": "10.244.0.0/16",
  "Backend": {
    "Type": "vxlan",
    "VNI": 4096,
    "Port": 4789
  }
}
"@ | Set-Content C:\etc\kube-flannel\net-conf.json -Force | Out-Null

Write-Host "Finishing Script"
