$TTL    604800

; This file is rendered using a	template from a KubeInit role
; This file will be overriden each time	the playbook runs
; No not edit directly
; More information at: https://github.com/kubeinit/kubeinit

{% for host in groups['k8s_service_nodes'] %}
@       IN      SOA     {{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}. admin.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.(
{% endfor %}
                  6     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
{% for host in groups['k8s_service_nodes'] %}
    IN      NS      {{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.
{% endfor %}

; OpenShift Container Platform Cluster - PTR records
{% for host in groups['k8s_master_nodes'] %}
{{ hostvars[groups['k8s_master_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.
{% endfor %}

{% for host in groups['k8s_worker_nodes'] %}
{{ hostvars[groups['k8s_worker_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.
{% endfor %}

{% for host in groups['k8s_service_nodes'] %}
{{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.
{{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR api.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.
{{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host.split('.')[-1] }} IN PTR api-int.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.
{% endfor %}
