$TTL    604800

; This file is rendered using a	template from a KubeInit role
; This file will be overriden each time	the playbook runs
; No not edit directly
; More information at: https://github.com/kubeinit/kubeinit

{% for host in groups['k8s_service_nodes'] %}
@       IN      SOA     {{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}. admin.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.(
{% endfor %}
                  1     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
{% for host in groups['k8s_service_nodes'] %}
    IN      NS      {{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.
{% endfor %}

; name servers - A records
{% for host in groups['k8s_service_nodes'] %}
{{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.          IN      A       {{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host }}
{% endfor %}

; OpenShift Container Platform Cluster - A records
{% for host in groups['k8s_master_nodes'] %}
{{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.          IN      A       {{ hostvars[groups['k8s_master_nodes'][loop.index - 1]].ansible_host }}
{% endfor %}

{% for host in groups['k8s_worker_nodes'] %}
{{ host }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.          IN      A       {{ hostvars[groups['k8s_worker_nodes'][loop.index - 1]].ansible_host }}
{% endfor %}

; OpenShift internal cluster IPs - A records
{% for host in groups['k8s_service_nodes'] %}
api.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.                              IN      A       {{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host }}
api-int.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.                          IN      A       {{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host }}
*.apps.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.                           IN      A       {{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host }}
console-openshift-console.apps.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.   IN      A       {{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host }}
oauth-openshift.apps.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.             IN      A       {{ hostvars[groups['k8s_service_nodes'][loop.index - 1]].ansible_host }}
{% endfor %}

{% for host in groups['k8s_master_nodes'] %}
etcd-{{ loop.index - 1 }}.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.        IN      A       {{ hostvars[groups['k8s_master_nodes'][loop.index - 1]].ansible_host }}
{% endfor %}

; OpenShift internal cluster IPs - SRV records
{% for host in groups['k8s_master_nodes'] %}
_etcd-server-ssl._tcp.{{kubeinit_common_cluster_name}}.{{ kubeinit_common_cluster_domain }}.    86400   IN    SRV     0    10    2380    etcd-{{ loop.index - 1 }}
{% endfor %}
