local=/{{ cluster }}.{{ domain }}/
server=/{{ cluster }}.{{ domain }}/{{ gateway_ip }}
address=/.apps.{{ cluster }}.{{ domain }}/{{ api_vip }}
address=/api.{{ cluster }}.{{ domain }}/{{ api_vip }}
address=/api-int.{{ cluster }}.{{ domain }}/{{ api_vip }}
address=/registry.{{ cluster }}.{{ domain }}/{{ hypervisor_vip }}

