---
# Copyright kubeinit contributors
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.


# All variables intended for modification should be placed in this file.

# All variables within this role should have a prefix of "kubeinit_k8s_"
kubeinit_k8s_debug: "{{ (ansible_verbosity | int) >= 2 | bool }}"
kubeinit_k8s_hide_sensitive_logs: true

kubeinit_k8s_kubernetes_version: "1.24"
kubeinit_k8s_kubernetes_version_full: "1.24.2"

# This is the default container runtime that
# will be deployed when the Vanila k8s cluster
# is deployed.
# So far, cri-o should be the default option,
# but when testing confidential-containers
# at the moment only containerd will work.
kubeinit_k8s_container_runtime: "cri-o"
# kubeinit_k8s_container_runtime: "containerd"

kubeinit_k8s_flannel_version: "0.18.1"

# TODO:FIXME: There must be a bug in the way flannel and cri-o
# is configured. The following parameters can not be changed at the moment.
# This can not be changed, it needs to match
# https://github.com/flannel-io/flannel/blob/796457b0cd4cba2025166f9625330ea905a18033/Documentation/kube-flannel.yml
kubeinit_k8s_pod_network: 10.244.0.0
# This is the cluster CIDR
kubeinit_k8s_pod_network_cidr: 10.244.0.0/16
kubeinit_k8s_pod_subnet_len: 24
# 10.85.0.1/16 is the default cri-o network that
# should match kubeinit_k8s_pod_network_cidr using
# the kubeinit_k8s_pod_subnet_len mask
kubeinit_k8s_crio_pod_network_cidr: 10.244.0.0/24

# Cluster CIDR
# kubectl cluster-info dump | grep -m 1 service-cluster-ip-range

# Service CIDR
# kubectl cluster-info dump | grep -m 1 cluster-cidr
