additionalTrustBundle: |
  {{ trustbundle | regex_replace('\n', '\n  ') }}
imageContentSources:
- mirrors:
  - {{ local_registry }}/{{ local_repo }}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - {{ local_registry }}/{{ local_repo }}
  source: registry.svc.ci.openshift.org/ocp/release
- mirrors:
  - {{ local_registry }}/{{ local_repo }}
  source: quay.io/openshift-release-dev/ocp-release
