$TTL    604800

; This file is rendered using a template from a KubeInit role
; This file will be overriden each time the playbook runs
; No not edit directly
; More information at: https://github.com/kubeinit/kubeinit

{% for host in groups['all'] | map('regex_search','^.*(service).*$') | select('string') | list %}
@       IN      SOA     {{ host }}.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}. admin.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.(
{% endfor %}
                  1     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
{% for host in groups['all'] | map('regex_search','^.*(service).*$') | select('string') | list %}
    IN      NS      {{ host }}.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.
{% endfor %}

; service node external IP - A records
{% for host in groups['all'] | map('regex_search','^.*(service).*$') | select('string') | list %}
{{ host }}.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.                       IN      A       {{ kubeinit_libvirt_external_service_interface.ip }}
registry.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.                         IN      A       {{ kubeinit_libvirt_external_service_interface.ip }}
api.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.                              IN      A       {{ kubeinit_libvirt_external_service_interface.ip }}
api-int.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.                          IN      A       {{ kubeinit_libvirt_external_service_interface.ip }}
*.apps.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.                           IN      A       {{ kubeinit_libvirt_external_service_interface.ip }}
console-openshift-console.apps.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.   IN      A       {{ kubeinit_libvirt_external_service_interface.ip }}
oauth-openshift.apps.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}.             IN      A       {{ kubeinit_libvirt_external_service_interface.ip }}
{% endfor %}
