$TTL    604800

; This file is rendered using a template from a KubeInit role
; This file will be overriden each time the playbook runs
; No not edit directly
; More information at: https://github.com/kubeinit/kubeinit

{% for host in groups['all_service_nodes'] | list %}
@       IN      SOA     {{ host }}.{{ kubeinit_cluster_fqdn }}. admin.{{ kubeinit_cluster_fqdn }}.(
{% endfor %}
                  6     ; Serial
             604800     ; Refresh
              86400     ; Retry
            2419200     ; Expire
             604800     ; Negative Cache TTL
)

; name servers - NS records
{% for host in groups['all_service_nodes'] | list %}
    IN      NS      {{ host }}.{{ kubeinit_cluster_fqdn }}.
{% endfor %}

; KubeInit cluster Cluster - PTR records
{% for host in groups['all_controller_nodes'] | list %}
{{ hostvars[host].ansible_host.split('.')[-1] }} IN PTR master{{ loop.index - 1 }}.{{ kubeinit_cluster_fqdn }}.
{% endfor %}

{% for host in groups['all_compute_nodes'] | default([]) | list %}
{{ hostvars[host].ansible_host.split('.')[-1] }} IN PTR worker{{ loop.index - 1 }}.{{ kubeinit_cluster_fqdn }}.
{% endfor %}

{% for host in groups['all_extra_nodes'] | default([]) | list %}
{{ hostvars[host].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{ kubeinit_cluster_fqdn }}.
{% endfor %}

{% for host in groups['all_service_nodes'] | list %}
{{ hostvars[host].ansible_host.split('.')[-1] }} IN PTR {{ host }}.{{ kubeinit_cluster_fqdn }}.
{{ hostvars[host].ansible_host.split('.')[-1] }} IN PTR api.{{ kubeinit_cluster_fqdn }}.
{{ hostvars[host].ansible_host.split('.')[-1] }} IN PTR api-int.{{ kubeinit_cluster_fqdn }}.
{% endfor %}
