/* This file is rendered using a	template from a KubeInit role */
/* This file will be overriden each time	the playbook runs */
/* No not edit directly */
/* More information at: https://github.com/kubeinit/kubeinit */

options {
    listen-on port 53 { 127.0.0.1; {{ hostvars[groups['all'] | map('regex_search','^.*(service).*$') | select('string') | list | first].ansible_host }}; {% if kubeinit_libvirt_external_service_interface_enabled | default(false) %}{{ kubeinit_libvirt_external_service_interface.ip }}; {% endif %}};

    {% if kubeinit_inventory_cluster_distro == 'okd' or kubeinit_inventory_cluster_distro == 'k8s' or kubeinit_inventory_cluster_distro == 'eks' %}
    directory          "/var/named";
    dump-file          "/var/named/data/cache_dump.db";
    statistics-file    "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    recursing-file     "/var/named/data/named.recursing";
    secroots-file      "/var/named/data/named.secroots";
    {% else %}
    directory "/var/cache/bind";
    {% endif %}

    allow-query        { localhost; {{ hostvars[groups['all'] | map('regex_search','^.*(service).*$') | select('string') | list | first].ansible_host | ipsubnet(24) }}; };

    recursion yes;
    allow-recursion { any; };

    forwarders {
      {{ kubeinit_common_dns_master }};
      8.8.8.8;
    };

    dnssec-enable yes;
    dnssec-validation no;
    filter-aaaa-on-v4 yes;
    listen-on-v6 { none; };

    /* Path to ISC DLV key */
    /* Use the defaults */
    /* bindkeys-file "/etc/named.root.key"; */
    /* managed-keys-directory "/var/{{ kubeinit_bind_config_folder }}/dynamic"; */
    /* pid-file "/run/named/named.pid"; */
    /* session-keyfile "/run/named/session.key"; */
};

/* logging { */
/*   channel default_debug { */
/*     file "data/named.run"; */
/*     severity dynamic; */
/*   }; */
/* }; */

{% if kubeinit_inventory_cluster_distro == 'okd' or kubeinit_inventory_cluster_distro == 'k8s' or kubeinit_inventory_cluster_distro == 'eks' %}
include "/etc/named.root.key";
{% elif kubeinit_inventory_cluster_distro == 'cdk' or kubeinit_inventory_cluster_distro == 'rke' %}
include "/etc/bind/bind.keys";
{% endif %}

include "/etc/{{ kubeinit_bind_config_folder }}/named.conf.local";
