/* This file is rendered using a	template from a KubeInit role */
/* This file will be overriden each time	the playbook runs */
/* No not edit directly */
/* More information at: https://github.com/kubeinit/kubeinit */

acl internals {
    127.0.0.0/8;
    {{ kubeinit_inventory_network_net }}/{{ kubeinit_inventory_network_cidr }};
};

view "internal" {
    match-clients { internals; };

    {% if kubeinit_inventory_cluster_distro == 'okd' or kubeinit_inventory_cluster_distro == 'k8s' %}
    include "/etc/named.rfc1912.zones";
    {% elif kubeinit_inventory_cluster_distro == 'cdk' or kubeinit_inventory_cluster_distro == 'rke' %}
    include "/etc/bind/zones.rfc1918";
    {% endif %}

    /*zone "." IN {*/
    /*    type hint;*/
    /*    file "named.ca";*/
    /*};*/

    zone "{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}" {
        type master;
        file "/etc/{{ kubeinit_bind_config_folder }}/zones/internals/db.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}"; # zone file path
    };

    zone "{{ hostvars[groups['all'] | map('regex_search','^.*(service).*$') | select('string') | list | first].ansible_host | ipaddr('revdns') | regex_replace('^[0-9]+\\.', '') }}" {
        type master;
        file "/etc/{{ kubeinit_bind_config_folder }}/zones/internals/db.{{ hostvars[groups['all'] | map('regex_search','^.*(service).*$') | select('string') | list | first].ansible_host | ipsubnet(24) | ipaddr('network') }}";  # 192.168.1.0/24 subnet
    };

};

{% if kubeinit_libvirt_external_service_interface_enabled | default(false) %}

view "external" {
    match-clients { any; };
    allow-query { any; };

    zone "{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}" {
        type master;
        file "/etc/{{ kubeinit_bind_config_folder }}/zones/externals/db.{{kubeinit_inventory_cluster_name}}.{{ kubeinit_inventory_cluster_domain }}"; # zone file path
    };

};

{% endif %}
