{
  "ignition": { "version": "2.2.0" },
  "passwd": {
    "users": [
      {
        "name": "core",
        "passwordHash": "{{ core_password | password_hash('sha512') }}",
        "sshAuthorizedKeys": [ "{{core_sshKey | b64encode }}" ],
        "groups": [ "sudo" ]
      }
    ]
  },
  "systemd": {
    "units": [{
      "name": "coreos_installer.service",
      "enabled": true,
      "contents": "[Unit]\nAfter=network.target\nAfter=network-online.target\n[Service]\nType=oneshot\nEnvironment=HTTP_PROXY={{ http_proxy }}\nEnvironment=http_proxy={{ http_proxy }}\nEnvironment=HTTPS_PROXY={{ https_proxy }}\nEnvironment=https_proxy={{ https_proxy }}\nEnvironment=NO_PROXY={{ no_proxy_list }}\nEnvironment=no_proxy={{ no_proxy_list }}\nExecStart=/bin/sh -c 'while ! /usr/bin/coreos-installer install --image-url {{ clusterosimage }} --insecure -i /home/core/config.ign {{ device }}; do sleep 5; done'\nExecStartPost=reboot\n\n[Install]\nWantedBy=multi-user.target"
}]
},
"storage": {
    "files": [{
      "filesystem": "root",
      "path": "/home/core/config.ign",
      "mode": 644,
      "contents": { "source": "data:text/plain;base64,{{ lookup('file', file_path) | string | b64encode }}" }
    }]
  }
}
