---
# Copyright 2020 KubeInit.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.


- name: Create Bind folder
  ansible.builtin.file:
    path: "{{ kubeinit_bind_directory }}"
    state: directory
    recurse: yes
    mode: '0755'

- name: Create named.conf
  ansible.builtin.template:
    src: "named.conf.j2"
    dest: "{{ kubeinit_bind_directory }}/named.conf"
    mode: '0644'

- name: Create named.conf.local
  ansible.builtin.template:
    src: "named.conf.local.j2"
    dest: "{{ kubeinit_bind_directory }}/named.conf.local"
    mode: '0644'

- name: Create script to provide external access to the cluster through the bastion host
  ansible.builtin.template:
    src: "create-external-ingress.sh.j2"
    dest: "~/create-external-ingress.sh"
    mode: '0644'
  delegate_to: "{{ kubeinit_bastion_host }}"

- name: Create BIND zones directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    recurse: yes
  with_items:
    - "{{ kubeinit_bind_directory }}/zones/internals"

- name: Create BIND db internal subnet
  ansible.builtin.template:
    src: "internals_db.j2"
    dest: "{{ kubeinit_bind_directory }}/zones/internals/db.{{ kubeinit_inventory_network_net }}"
    mode: '0644'

- name: Create BIND db internal zone
  ansible.builtin.template:
    src: "internals_db.local.j2"
    dest: "{{ kubeinit_bind_directory }}/zones/internals/db.{{ kubeinit_inventory_cluster_name }}.{{ kubeinit_inventory_cluster_domain }}"
    mode: '0644'

- name: Create a podman container to serve the Bind server
  containers.podman.podman_container:
    name: "{{ kubeinit_bind_service_name }}"
    image: docker.io/internetsystemsconsortium/bind9:9.11
    pod: "{{ kubeinit_services_pod_name }}"
    state: stopped
    network: host
    volumes:
      - "{{ kubeinit_bind_directory }}/named.conf:/etc/bind/named.conf"
      - "{{ kubeinit_bind_directory }}/:/etc/bind/kubeinit/:Z"
  register: bind_podman_container_info

- name: Setting Podman facts about the container that will run the bind
  ansible.builtin.set_fact:
    container_bind_name: "{{ bind_podman_container_info.container.Name }}"
    container_bind_pidfile: "{{ bind_podman_container_info.container.ConmonPidFile }}"

- name: Ensure user specific systemd instance are persistent
  ansible.builtin.command: |
    /usr/bin/loginctl enable-linger {{ kubeinit_service_user }}
  register: systemd_instance_persist
  changed_when: "systemd_instance_persist.rc == 0"

- name: Create systemd user directory
  ansible.builtin.file:
    path: "{{ kubeinit_service_user_dir }}/.config/systemd/user"
    state: directory
    owner: "{{ kubeinit_service_user }}"
    group: "{{ kubeinit_service_user }}"
    mode: '0775'

- name: Copy the podman systemd service file
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=Podman {{ kubeinit_bind_service_name }}.service
      [Service]
      Restart=on-failure
      ExecStart=/usr/bin/podman start {{ container_bind_name }}
      ExecStop=/usr/bin/podman stop -t 10 {{ container_bind_name }}
      KillMode=none
      Type=forking
      PIDFile={{ container_bind_pidfile }}
      [Install]
      WantedBy=default.target
    dest: "{{ kubeinit_service_user_dir }}/.config/systemd/user/{{ kubeinit_bind_service_name }}.service"
    owner: "{{ kubeinit_service_user }}"
    group: "{{ kubeinit_service_user }}"
    mode: '0644'

- name: Reload systemd service
  ansible.builtin.systemd:
    daemon_reexec: yes
    scope: user
  environment:
    DBUS_SESSION_BUS_ADDRESS: "{{ ansible_env.DBUS_SESSION_BUS_ADDRESS|default('unix:path=/run/user/' +  ansible_effective_user_id|string + '/bus') }}"

- name: Enable {{ kubeinit_bind_service_name }}.service
  ansible.builtin.systemd:
    name: "{{ kubeinit_bind_service_name }}"
    enabled: yes
    scope: user
  environment:
    DBUS_SESSION_BUS_ADDRESS: "{{ ansible_env.DBUS_SESSION_BUS_ADDRESS|default('unix:path=/run/user/' +  ansible_effective_user_id|string + '/bus') }}"

- name: Start {{ kubeinit_bind_service_name }}.service
  ansible.builtin.systemd:
    name: "{{ kubeinit_bind_service_name }}"
    state: started
    scope: user
  environment:
    DBUS_SESSION_BUS_ADDRESS: "{{ ansible_env.DBUS_SESSION_BUS_ADDRESS|default('unix:path=/run/user/' +  ansible_effective_user_id|string + '/bus') }}"
