---
name: docs_build_pr
on:
  pull_request:
    branches:
      - main
  # Run the functional tests every 8 hours.
  # This will help to identify faster if
  # there is a CI failure related to a
  # change in any dependency.
  schedule:
    - cron: '0 */8 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8]
    steps:
      - name: Use checkout v2 with all git log available
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install required packages
        run: |
          sudo apt-get update -y
          sudo apt-get install graphviz plantuml openjdk-11-jdk -y
          sudo apt-get remove ansible -y
          sudo python3 -m pip uninstall ansible
          sudo python3 -m pip install ansible==3.4.0
          sudo python3 -m pip install --upgrade pip
          sudo python3 -m pip install --upgrade virtualenv
          sudo python3 -m pip install --upgrade setuptools
          sudo python3 -m pip install --upgrade ansible-inventory-grapher
          sudo python3 -m pip install --upgrade ansible-playbook-grapher

      - name: Render the plantuml diagrams
        run: |
          plantuml -tpng -output render ./docs/src/images/plantuml/*.plantuml
          mkdir -p ./docs/src/static/plantuml
          mv ./docs/src/images/plantuml/render/* ./docs/src/static/plantuml/

      - name: Render the projects roles and inventory diagrams
        run: |
          distros=()
          for p in ./hosts/*/
          do
            distros=$(echo ${distros} ${p:8:-1})
          done

          for distro in ${distros}; do
              filename=${distro}.yml
              echo "ansible-playbook-grapher -e kubeinit_inventory_cluster_distro=${distro} ./playbooks/$filename --include-role-tasks -o ./docs/src/static/playbook_$filename"
              ansible-playbook-grapher -e kubeinit_inventory_cluster_distro=${distro} ./playbooks/$filename --include-role-tasks -o ./docs/src/static/playbook_$filename
          cat << EOF >> ./docs/src/playbook_diagrams.rst

          $filename playbook architecture
          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

          .. image:: static/playbook_$filename.svg
            :width: 400
            :alt: Alternative text

          EOF
          done

          for distro in ${distros}; do
              filename=${distro}
              echo "ansible-inventory-grapher -i ./hosts/$filename/inventory all -a 'rankdir=LR;' -q | dot -Tpng > ./docs/src/static/inventory_$filename.png"
              ansible-inventory-grapher -i hosts/$filename/inventory all -a 'rankdir=LR;' -q | dot -Tpng > ./docs/src/static/inventory_$filename.png
          cat << EOF >> ./docs/src/inventory_diagrams.rst

          $filename inventory architecture
          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

          .. image:: static/inventory_$filename.png
            :width: 400
            :alt: Alternative text

          EOF
          done

          cat ./docs/src/playbook_diagrams.rst
          cat ./docs/src/inventory_diagrams.rst
      - name: Render the changelog file
        run: |
          GITCHANGELOG_CONFIG_FILENAME=./ci/gitchangelog.rc ./ci/gitchangelog.py > ./docs/src/changelog.rst
          cat ./docs/src/changelog.rst
      - name: Render the docs
        run: |
          pip3 install --upgrade pip
          pip3 install --upgrade virtualenv
          pip3 install --upgrade setuptools
          pip3 install -r test-requirements.txt
          pip3 install --upgrade ruamel.yaml
          pip3 install --upgrade sphinx-rtd-theme
          cd ./docs/src
          make html
      - uses: actions/upload-artifact@v1
        with:
          name: DocumentationHTML
          path: docs/src/_build/html/
          if-no-files-found: error
