[global]
default = {{ kubeinit_inventory_ci_gitlab_name }}

[{{ kubeinit_inventory_ci_gitlab_name }}]
url = {{ kubeinit_inventory_ci_gitlab_url }}
private_token = helper: /home/gitlab-runner/scripts/echo-private-token.sh
